<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Map</title>
        <style type="text/css">
            html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{.MapApiKey}}"></script>
        <script type="text/javascript">
            function initialize() {
                var mapOptions = {
                    center: { lat: 0, lng: 180 },
                    zoom: 2
                };
                var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
                var socket = new WebSocket({{.SocketUri}});
                socket.onopen = function() {
                    console.log("Open");
                }
                socket.onmessage = function(msg) {
                    msg = JSON.parse(msg.data)
                        console.log("Message", msg);
                    var spot = new google.maps.LatLng(msg.Lat, msg.Long);
                    marker = new google.maps.Marker({
                        map: map,
                        animation: google.maps.Animation.DROP,
                        position: spot
                    });
                }
                socket.onclose = function () {
                    console.log("Close");
                }
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>
        <div id="map-canvas"></div>
    </body>
</html>
